.activity-result {

    &__activity-card {
        background-color: #2a2a2a !important;
        border-radius: 16px !important;
        // border: 1px solid rgb(255, 0, 0) !important;
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        flex-shrink: 0 !important;
        // box-sizing: border-box !important;
        max-width: 100% !important;
        margin-top: 10px;
    }

    &__activity-header {
        padding: 0px 20px !important;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__activity-name {
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
    }

    &__muscle-group {
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
    }

    &__sets-header {
        padding: 0 20px !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        color: white;
    }

    &__set-label,
    &__reps-label,
    &__weight-label {
        font-size: 14px;
        color: #ffffff;
        font-weight: 500;
    }

    &__reps-label {
        text-align: center;
    }

    &__weight-label {
        text-align: right;
    }

    &__sets-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 10px 20px 0px !important;
    }

    &__set-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
        align-items: center;
    }

    &__set-number {
        font-size: 14px;
        color: #a1a1aa;
    }

    &__set-reps {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        font-weight: 500;
    }

    &__set-weight {
        font-size: 14px;
        color: var(--mui-palette-primary-main);
        text-align: right;
        font-weight: 500;
    }

    &__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px 24px;
        background-color: transparent;
        z-index: 1000;
        pointer-events: auto;
    }

    &__continue-button {
        padding: 16px !important;
        font-size: 16px !important;
        font-weight: 600 !important;
        border-radius: 12px !important;
        background-color: #1a1a1a !important;
        color: #00d4ff !important;
        border: 1px solid #00d4ff !important;
        position: relative !important;
        z-index: 1001 !important;

        &:hover {
            background-color: #1a1a1a !important;
            border-color: #00e5ff !important;
            color: #00e5ff !important;
        }

        &:disabled {
            background-color: #1a1a1a !important;
            border-color: rgba(0, 212, 255, 0.3) !important;
            color: rgba(0, 212, 255, 0.3) !important;
        }
    }
}